## Andrew Ingrassia
## Task 4.6
## Combining & Exporting Data
***

### Imports

In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
# Uses the 'os.path.join()' function to simplify the process of locating the desired file path
path = r"C:\Users\ingra\OneDrive\Desktop\Career Foundry\(2) Data Analytics Immersion\Data Immersion - Section 4\Instacart Basket Analysis"

In [3]:
# Imports the 'order_products_combined.pkl' dataframe
orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
# Imports the 'products_checked.csv' dataframe
products_checked = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'))

### Removing the '_merge' column from the 'orders_products_combined' dataframe

In [5]:
del orders_products_combined['_merge']

### Checking the shape of the imported dataframe

In [6]:
orders_products_combined.shape

(32434489, 10)

### Viewing the 'orders_products_combined' and 'products_checked' dataframes

In [7]:
orders_products_combined.head(5)

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,0,2539329,1,1,2,8,NaN,196,1,0
1,0,2539329,1,1,2,8,NaN,14084,2,0
2,0,2539329,1,1,2,8,NaN,12427,3,0
3,0,2539329,1,1,2,8,NaN,26088,4,0
4,0,2539329,1,1,2,8,NaN,26405,5,0

In [8]:
products_checked.head(5)

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

### Combining the 'orders_products_combined' and 'products_checked' dataframes

In [9]:
# Creates the new, merged dataframe ('orders_products_merged')
orders_products_merged = orders_products_combined.merge(products_checked, on = 'product_id', indicator = True)

In [10]:
# Views the new dataframe
orders_products_merged.head(5)

,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both
1,1,2398795,1,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both
2,2,473747,1,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both
3,3,2254736,1,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both
4,4,431534,1,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both

### Checking for a full match

In [11]:
# Sums up all the values in the '_merge' column to determine whether or not there is a full match
orders_products_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

### Exporting the 'orders_products_merged' dataframe

In [13]:
# Exports the 'orders_products_merged' dataframe in pickle format
orders_products_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))