# Andrew Ingrassia
# Task 4.9 (Part 1)

***
## Imports

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import scipy

In [2]:
# Defines a file path for sake of convenience

path = r"C:\Users\ingra\OneDrive\Desktop\Career Foundry\(2) Data Analytics Immersion\Data Immersion - Section 4\Instacart Basket Analysis"

In [3]:
# Imports the 'order_products_merged_task_8' dataframe and stores it in the variable 'df'

df = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merged_task_8.pkl'))

In [4]:
# Imports the 'customers' dataframe and stores it in the variable 'customers'

customers = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'), index_col = False)

In [5]:
# Set the maximum number of columns to display to 'None' (no limit)

pd.set_option('display.max_columns', None)

***
## 1. Wrangle the customer data so that it follows consistent logic

In [6]:
# Observing the dataframe before any changes are made

customers.head(5)

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [7]:
# Modifies the names of the columns for sake of consistency

customers.columns = ['user_id', 'first_name', 'last_name', 'gender', 'state', 'age', 'date_joined', 'num_dependents', 'fam_status', 'income']

In [8]:
# Observing the changes made to column names

customers.head(1)

,user_id,first_name,last_name,gender,state,age,date_joined,num_dependents,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665

In [9]:
customers.dtypes

user_id            int64
first_name        object
last_name         object
gender            object
state             object
age                int64
date_joined       object
num_dependents     int64
fam_status        object
income             int64
dtype: object

## 2. Perform data quality and consistency checks

In [10]:
# Tests for the presence of mixed data types

for col in customers.columns.tolist():
  weird = (customers[[col]].applymap(type) != customers[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (customers[weird]) > 0:
    print (col)

first_name

- The 'first_name' column contains mixed data types

In [11]:
# Changes all variables in the 'first_name' column to the 'string'/'object' data type

customers['first_name'] = customers['first_name'].astype('str')

In [12]:
customers.dtypes

user_id            int64
first_name        object
last_name         object
gender            object
state             object
age                int64
date_joined       object
num_dependents     int64
fam_status        object
income             int64
dtype: object

In [13]:
# Checks for missing (null) values

customers.isnull().sum()

user_id           0
first_name        0
last_name         0
gender            0
state             0
age               0
date_joined       0
num_dependents    0
fam_status        0
income            0
dtype: int64

- None of the columns in the 'customers' dataframe contain missing values

In [14]:
# Creates a new dataframe ('customers_dups') that contains all rows that are fully duplicated within the 'customers_dups' dataframe

customers_dups = customers[customers.duplicated()]

In [15]:
customers_dups

Empty DataFrame
Columns: [user_id, first_name, last_name, gender, state, age, date_joined, num_dependents, fam_status, income]
Index: []

- There are no fully duplicated rows in the 'customers' dataframe

## 3. Combine your customer data with the rest of your prepared Instacart data

In [27]:
# Checks 'customers' dataframe data types

customers.dtypes

user_id            int32
first_name        object
last_name         object
gender            object
state             object
age                 int8
date_joined       object
num_dependents      int8
fam_status        object
income             int32
dtype: object

In [26]:
# Checks 'df' dataframe data types

df.dtypes

order_id                    int32
user_id                     int32
order_number                 int8
orders_day_of_week           int8
order_hour_of_day            int8
days_since_prior_order    float16
product_id                  int32
add_to_cart_order           int32
reordered                    int8
product_name               object
aisle_id                     int8
department_id                int8
prices                    float16
price_range_loc            object
busiest_days               object
busiest_period_of_day      object
max_order                    int8
loyalty_flag               object
average_price             float64
spending_category          object
median_order_frequency    float64
order_frequency            object
dtype: object

In [18]:
# Deletes an unnecessary column

del df['Unnamed: 0_x']

In [19]:
# Deletes an unnecessary column

del df['Unnamed: 0_y']

In [20]:
# Deletes an unnecessary column

del df['_merge']

In [21]:
# Changes data types from 'df' dataframe to reduce RAM usage

df['order_id'] = df['order_id'].astype('int32')
df['user_id'] = df['user_id'].astype('int32')
df['order_number'] = df['order_number'].astype('int8')
df['orders_day_of_week'] = df['orders_day_of_week'].astype('int8')
df['order_hour_of_day'] = df['order_hour_of_day'].astype('int8')
df['days_since_prior_order'] = df['days_since_prior_order'].astype('float16')
df['product_id'] = df['product_id'].astype('int32')

In [22]:
# Changes more data types from 'df' dataframe to reduce RAM usage

df['reordered'] = df['reordered'].astype('int8')
df['add_to_cart_order'] = df['add_to_cart_order'].astype('int32')
df['order_id'] = df['order_id'].astype('int32')
df['aisle_id'] = df['aisle_id'].astype('int8')
df['department_id'] = df['department_id'].astype('int8')
df['prices'] = df['prices'].astype('float16')
df['max_order'] = df['max_order'].astype('int8')

In [28]:
# Changes more data types from the 'df' dataframe to reduce RAM usage

df['average_price'] = df['average_price'].astype('float16')
df['median_order_frequency'] = df['median_order_frequency'].astype('float16')

In [29]:
# Changes data types from the 'customers' dataframe to reduce RAM usage

customers['user_id'] = customers['user_id'].astype('int32')
customers['age'] = customers['age'].astype('int8')
customers['num_dependents'] = customers['num_dependents'].astype('int8')
customers['income'] = customers['income'].astype('int32')

In [30]:
# Checks the shape of the 'df' dataframe

df.shape

(32404859, 22)

In [31]:
# Checks the shape of the 'customers' dataframe

customers.shape

(206209, 10)

In [32]:
# Merges both dataframes using 'user_id' as the key column

instacart_df = df.merge(customers, on = 'user_id', how = 'outer', indicator = True)

In [33]:
# Checks the shape of the merged 'instacart_df' dataframe

instacart_df.shape

(32404859, 32)

In [34]:
# Checks for a full match

instacart_df['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [35]:
# Observing the merged dataframe

instacart_df.head(10)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_category,median_order_frequency,order_frequency,first_name,last_name,gender,state,age,date_joined,num_dependents,fam_status,income,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,Moderately busy,Average orders,10,New customer,6.367188,Low spender,20.5,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Average orders,10,New customer,6.367188,Low spender,20.5,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Most orders,10,New customer,6.367188,Low spender,20.5,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Average orders,10,New customer,6.367188,Low spender,20.5,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Most orders,10,New customer,6.367188,Low spender,20.5,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,Mid-range product,Moderately busy,Average orders,10,New customer,6.367188,Low spender,20.5,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,Mid-range product,Most busy,Most orders,10,New customer,6.367188,Low spender,20.5,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,Mid-range product,Most busy,Most orders,10,New customer,6.367188,Low spender,20.5,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,Mid-range product,Most busy,Most orders,10,New customer,6.367188,Low spender,20.5,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Average orders,10,New customer,6.367188,Low spender,20.5,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both

In [36]:
# Exports the 'instacart_df' dataframe as a pickle

instacart_df.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'instacart_df.pkl'))